
<div id="wrapper">
	<div id="sidebar-wrapper">
		<h3 class="username" ui-sref=".profile">{{user.username}}</h3>
		<ul>
			<h4>Rooms</h4>
			  <li ng-repeat="roomnameObj in rooms" ng-click="goToRoom(roomnameObj)">
			  	<a ui-sref=".room({roomname: roomnameObj.roomname})">{{roomnameObj.roomname}}</a>
			  </li>
			<br>

			<form name="newRoom" ng-submit="addRoom(newRoomName)"> 
		    <input type="text" name="newthing" ng-model="newRoomName" /><br>
		    <input type="submit" value="Add Room" /><br>
		  </form><br><br>

		  <h4>My Friends</h4>
		  <li>
		  	<a href="">[A list of friends]</a>
		  </li>

		</ul>
	</div>
	<div ui-view></div>
</div>


