
<div id="wrapper">
	<div id="sidebar-wrapper">
		<h3 class="username" ui-sref=".profile">{{user}}</h3>
		<ul>

			<h4>Rooms</h4>
			  <li ng-repeat="RoomName in rooms" ng-click="goToRoom(RoomName)">
			  	<a ui-sref="homeState.room({RoomName: RoomName.roomname})">{{RoomName.roomname}}</a>
			  </li>
			<br>
		  <form name="newRoom" ng-submit="addRoom(newRoomName)">
		    <input type="text" ng-model="newRoomName"><br>
		    <button ng-submit="goToRoom(newRoomName)">Add Room</button><br>
		  </form><br><br>

		  <h4>My Friends</h4>
		  <li>
		  	<a href="">[A list of friends]</a>
		  </li>

		</ul>
	</div>
	<div ui-view></div>
</div>


