
<div class="auth">
  <h1 class="ld"> Bash To The Trivia </h1>
  <h3 class="ld"> Education game for friends and family </h3><br>


  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-3">Sign Up</h1>
      <form ng-submit='signUp()'>
        <label>Username</label><br>
        <input placehoder="Username" ng-model="user.username"/><br>
        <label>Password</label><br>
        <input type="password" placehoder="Password" ng-model="user.password"/><br>
        <button class="btn btn-primary">Sign Up</button>
      </form>
      <br>
      <h5>Already have an account?  <a ui-sref="signinState">Signin</a> </h5>
    </div>
  </div>

</div>
